html {
    background-color: #031c37;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size:1.7vh;
    overflow: hidden;
    height: 100vh;
}

#page-content {
    display: flex;
    flex-direction: row;
}

#title {
    display: none;
    justify-content: center;
    align-items: center;
}

#title pre {
    margin-top: 20vh;
    font-size: .7vw;
    line-height: normal;
}

button {
    margin: .5em;
    padding: .3em;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    font-size:2vh;
}

button:hover {
    cursor: pointer;
}

#page-content {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
}

#buttons {
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.action-button {
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.progress-bar {
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

#center-column {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vitals {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vital-category {
    margin-left: 2em;
    margin-right: 2em;
}

#text-display {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-item {
    text-align: center;
    margin-top: .5vh;
    margin-bottom: .5vh;
    white-space: nowrap;
}

.event-button {
    width: 15vw;
    margin: auto;
    margin-top: 1vh;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#ascii-art {
    padding-left: auto;
    font-size: 1.2vh;
    height: auto;
    position: fixed;
    bottom: 15px;
}

.ascii-button {
    cursor: pointer;
}

#resource-display {
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

#speed-toggle {
    font-size: 10pt;
    position: absolute;
    left: 10px;
    bottom: 0px;
    line-height: 0px;
}

#speed-toggle:hover {
    cursor: pointer;
}

#time-display {
    font-size: 3vh;
    line-height: 0;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 1.5vw;
    }
    #ascii-art {
        font-size: 1vw;
    }
    .action-button {
        font-size: 1.5vw;
    }
    #time-display {
        font-size: 2.5vw;
    }
}